{% extends 'gestion_propiedades/base_auth.html' %}

{% block title %}Iniciar Sesión - Alquilo Suite{% endblock %}

{% block content %}
    {% if form.errors %}
        <div class="alert-custom">
            <i class="fa-solid fa-circle-exclamation me-1"></i> Credenciales incorrectas. Verifique e intente nuevamente.
        </div>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label"><i class="fa-regular fa-envelope me-1"></i> Usuario o Correo Electrónico</label>
            <input type="text" name="username" class="form-control" placeholder="admin@empresa.com" required autofocus>
        </div>
        
        <div class="mb-4">
            <label class="form-label d-flex justify-content-between align-items-center">
                <span><i class="fa-solid fa-key me-1"></i> Contraseña</span>
                <a href="{% url 'password_reset' %}" class="auth-link small text-capitalize" style="text-transform: none !important;">¿Olvidaste tu contraseña?</a>
            </label>
            <input type="password" name="password" class="form-control" placeholder="••••••••" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Ingresar al Sistema <i class="fa-solid fa-arrow-right-to-bracket ms-1"></i></button>
        {% url 'dashboard' as url_dashboard %}
        <input type="hidden" name="next" value="{{ next|default:url_dashboard }}">
    </form>
{% endblock %}
